.open {
  right: 0;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.nav li {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: inherit;
  list-style: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 10rem;
}

.nav li:hover {
  color: #f95a2c;
}
