.navbar {
  height: 12.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  cursor: pointer;
}

@media only screen and (min-width: 651px) {
  .burger {
    display: none;
  }
}
