.container {
  height: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3.6rem;
  font-weight: 800;
  margin-top: 7.2rem;
}

.text {
  font-size: 2.1rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

.button {
  margin-top: 7.2rem;
  width: 30rem;
  height: 6rem;
  background-color: #18191f;
  border: none;
  border-radius: 1.6rem;
  color: #ffffff;
  font-family: inherit;
  font-size: 2.1rem;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}
