.form > h2 {
  font-size: 3.6rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
}

.form > p {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 4.8rem;
}

.form {
  max-width: 45rem;
}

.inputContainer {
  width: 100%;
  position: relative;
  margin-bottom: 2.4rem;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
}

.input {
  width: 100%;
  height: 5.6rem;
  padding-left: 5.2rem;
  border: 2px solid #18191f;
  border-radius: 16px;
  font-family: inherit;
  font-size: 2.1rem;
  color: #18191f;
  outline: none;
}

.button {
  width: 100%;
  height: 6rem;
  background: #ffbd12;
  border: 2px solid #18191f;
  box-shadow: 0px 2px 0px #18191f;
  border-radius: 16px;
  font-family: inherit;
  font-weight: 800;
  font-size: 2.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 0px #18191f;
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0px 1px 0px #18191f;
}

.account {
  margin-top: 3.2rem;
}

.account > span {
  color: #f95a2c;
  cursor: pointer;
}
