html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  color: #18191f;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.selected {
  color: #f95a2c;
}

.container {
  min-height: 100vh;
  max-width: 104rem;
  margin: 0 auto;
}
